{{ define "main" }}
<main>
    <div class="row">
        <div class="col-sm-8">
            <header>
                <h1>{{ .Title }}</h1>
            </header>
            <div class="content">
                {{ .Content }}
            </div>
        </div>
        <div class="col-sm-4">
            <img src="/img/img1.svg" style="max-width:80%; padding-bottom:30px" 
                 class="rounded mx-auto d-block img-fluid"
                 alt="a picture of me">
            <ul class="contents">
                {{ range .Paginator.Pages }}
                    <li>
                        {{- if not .Date.IsZero }}
                        {{ .Date.Format "2006/01/02" }} |
                        {{- end }}
                        <a href="{{ .Permalink }}">
                            {{ .Title }}
                        </a>
                    </li>
                {{ end }}
            </ul>
        </div>
        <!-- <div class="col-sm-4">
             </div> -->
    </div>
</main>
{{ end }}

