{{ define "main" }}
<main>
    <div class="row">
        <div class="col-sm">
            <header>
                <h2>{{ .Title }}</h2>
                {{- if not .Date.IsZero }}
                <h6>{{ .Date.Format "2006/01/02" }}</h6>
                {{- end }}
            </header>
            <p>Tags: 
                {{ range .Params.tags }} <a href="/tags/{{ . | urlize }}" class="badge badge-info">{{ . }}</a> {{ end }}
            </p>
            <hr/>
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
</main>
{{ end }}
